.cardapio-principal {
    background-image: url('./img/cardápio/cardapio-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cardapio-bordas {
    width: fit-content;
    padding-left: 120px;
}

.grid-bordas {
    display: grid;
    grid-template-columns: 300px 300px;
    padding: 40px 0px 40px 0px;
}

.cardapio-bordas ul {
    color: #008000;
    text-align: left;
}

.pizza-sabores {
    width: fit-content;
    margin: 0 auto;
}

.grid-sabores {
    display: grid;
    grid-template-columns: auto auto;
}

h2 {
    color: #000;
    font-family: Pangolin, cursive;
}

h3 {
    color: #d62828;
    padding: 40px 0px 0px 10px;
}

p {
    color: #000;
    padding: 10px 0px 20px 10px;
}

.pizza-valores {
    width: fit-content;
    text-align: left;
}

.grid-valores {
    display: grid;
    grid-template-columns: auto auto;
    border-style: dotted;
    border-color: #E67201;
}

.tamanho {
    color: #d62828;
}

.valor {
    color: #008000;
}

.calabresa {
    background-image: url('./img/cardápio/calabresa.png');
}

img {
    padding-top: 40px;
}
.tradicionais{
    width: fit-content;
    margin: 0 auto;
    margin-top: 60px;
}
.grid-tradicionais {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 40px 0px 40px 0px;
}
.grid-tradicionais li{
    padding-top: 12px;
}
.nm-pizza{
    color:#000;
}
.pizza-valor{
    color:#d62828;
}
hr{
    width: 600px;
    height: 2px;
    border-color: black;
    border-style: dotted;
    border-radius: 120px;
    margin-top: 18px;
}